In [1]:
import pandas as pd

In [26]:
"""
CREATE A DF, WE WILL SAVE IT AS A CSV SO WE CAN UPLOAD IT TO THE DB

Schedule Table:
staff_id (UUID)
date
time_rangez (List of TimeStamptz) format: [start_time, end_time, start_time, end_time]
is_weekly (bool)
day_of_week (text) format: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
slot_duration (int in minutes)

"""

# Today is 5/7/2024
# Create a schedule for the next month 
# staff_id = 3cf90f46-bd92-445b-aeff-488978ab205d

staff_id = '3cf90f46-bd92-445b-aeff-488978ab205d'
is_weekly = False
today = pd.Timestamp('2024-05-07')
slot_duration = 60


# Create a time range of 9am to 12pm and 1pm to 5pm in New York timezone
# ex: ["2025-05-07 13:00:00+00","2025-05-07 13:00:00+00","2025-05-07 16:00:00+00","2025-05-07 16:00:00+00","2025-05-07 17:00:00+00","2025-05-07 17:00:00+00","2025-05-07 21:00:00+00","2025-05-07 21:00:00+00"]
# LETS REWRITE TO USE EASTERN TIME ZONE
# rewritten ex: ["2025-05-07 13:00:00-04","2025-05-07 13:00:00-04","2025-05-07 16:00:00-04","2025-05-07 16:00:00-04","2025-05-07 17:00:00-04","2025-05-07 17:00:00-04","2025-05-07 21:00:00-04","2025-05-07 21:00:00-04"]

time_range = ["2025-05-07 13:00:00-04","2025-05-07 13:00:00-04","2025-05-07 16:00:00-04","2025-05-07 16:00:00-04","2025-05-07 17:00:00-04","2025-05-07 17:00:00-04","2025-05-07 21:00:00-04","2025-05-07 21:00:00-04"]

# Create a schedule entry for Mon - Fri for the next month
schedule = []
for i in range(30):
    date = today + pd.Timedelta(days=i)
    if date.dayofweek < 5:  # Monday to Friday
        schedule.append({
            'staff_id': staff_id,
            'date': date,
            'time_rangez': time_range,
            'is_weekly': is_weekly,
            'day_of_week': date.day_name(),
            'slot_duration': slot_duration
        })

# Create a DataFrame from the schedule
df = pd.DataFrame(schedule)
df.head(20)

,staff_id,date,time_rangez,is_weekly,day_of_week,slot_duration
0,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-07,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Tuesday,60
1,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-08,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Wednesday,60
2,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-09,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Thursday,60
3,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-10,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Friday,60
4,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-13,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Monday,60
5,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-14,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Tuesday,60
6,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-15,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Wednesday,60
7,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-16,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Thursday,60
8,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-17,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Friday,60
9,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-20,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Monday,60
10,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-21,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Tuesday,60
11,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-22,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Wednesday,60
12,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-23,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Thursday,60
13,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-24,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Friday,60
14,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-27,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Monday,60
15,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-28,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Tuesday,60
16,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-29,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Wednesday,60
17,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-30,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Thursday,60
18,3cf90f46-bd92-445b-aeff-488978ab205d,2024-05-31,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Friday,60
19,3cf90f46-bd92-445b-aeff-488978ab205d,2024-06-03,"[2025-05-07 13:00:00-04, 2025-05-07 13:00:00-0...",False,Monday,60

In [27]:
# Print time range
print(time_range   )

['2025-05-07 13:00:00-04', '2025-05-07 13:00:00-04', '2025-05-07 16:00:00-04', '2025-05-07 16:00:00-04', '2025-05-07 17:00:00-04', '2025-05-07 17:00:00-04', '2025-05-07 21:00:00-04', '2025-05-07 21:00:00-04']

In [28]:
# Save the DataFrame to a CSV file
df.to_csv('schedule1.csv', index=False)

In [ ]:
# For each schedule entry, we will have to create time slots
"""
time slots table:
time_slot_id 
schedule_id (UUID)
start_time (timestamptz)
end_time (timestamptz)
status (text) format: ['available', 'booked', 'unavailable']


Each schedule entry will have a time slots based on the time ranges and the slot duration
Ex:
time range: [[2024-05-07 09:00:00, 2024-05-07 12:00:00], [2024-05-07 13:00:00, 2024-05-07 17:00:00]]
slot duration: 60

time slots: 
2024-05-07 09:00:00, 2024-05-07 10:00:00
2024-05-07 10:00:00, 2024-05-07 11:00:00
2024-05-07 11:00:00, 2024-05-07 12:00:00
2024-05-07 13:00:00, 2024-05-07 14:00:00
2024-05-07 14:00:00, 2024-05-07 15:00:00 ...
"""

ValueError: could not convert string to Timestamp

In [35]:
# Read the schedules_rows.csv
s = pd.read_csv('schedules_rows.csv')
s.head(20)

,schedule_id,staff_id,is_weekly,day_of_week,slot_duration,date,time_rangez
0,193,3cf90f46-bd92-445b-aeff-488978ab205d,False,NaN,60,2025-05-07,"[""2025-05-06 13:00:00+00"",""2025-05-06 21:00:00..."
1,194,3cf90f46-bd92-445b-aeff-488978ab205d,False,NaN,60,2025-05-08,"[""2025-05-07 13:00:00+00"",""2025-05-07 21:00:00..."
2,195,3cf90f46-bd92-445b-aeff-488978ab205d,False,NaN,60,2025-05-09,"[""2025-05-08 13:00:00+00"",""2025-05-08 21:00:00..."

In [38]:
# For each schedule entry, we will have to create time slots
# Create a time slots table
time_slots = []

for index, row in s.iterrows():
    schedule_id = row['schedule_id']
    # Extract start and end times from the 'time_rangez' column
    time_range = eval(row['time_rangez'])  # Convert string representation of list to actual list
    start_time = pd.Timestamp(time_range[0])
    end_time = pd.Timestamp(time_range[1])
    status = 'available'
    
    # Create time slots based on the slot duration
    while start_time < end_time:
        time_slots.append({
            'schedule_id': schedule_id,
            'start_time': start_time,
            'end_time': start_time + pd.Timedelta(minutes=slot_duration),
            'status': status
        })
        start_time += pd.Timedelta(minutes=slot_duration)

# Create a DataFrame from the time slots
time_slots_df = pd.DataFrame(time_slots)
time_slots_df.head(20)

    schedule_id                start_time                  end_time     status
0           193 2025-05-06 13:00:00+00:00 2025-05-06 14:00:00+00:00  available
1           193 2025-05-06 14:00:00+00:00 2025-05-06 15:00:00+00:00  available
2           193 2025-05-06 15:00:00+00:00 2025-05-06 16:00:00+00:00  available
3           193 2025-05-06 16:00:00+00:00 2025-05-06 17:00:00+00:00  available
4           193 2025-05-06 17:00:00+00:00 2025-05-06 18:00:00+00:00  available
5           193 2025-05-06 18:00:00+00:00 2025-05-06 19:00:00+00:00  available
6           193 2025-05-06 19:00:00+00:00 2025-05-06 20:00:00+00:00  available
7           193 2025-05-06 20:00:00+00:00 2025-05-06 21:00:00+00:00  available
8           194 2025-05-07 13:00:00+00:00 2025-05-07 14:00:00+00:00  available
9           194 2025-05-07 14:00:00+00:00 2025-05-07 15:00:00+00:00  available
10          194 2025-05-07 15:00:00+00:00 2025-05-07 16:00:00+00:00  available
11          194 2025-05-07 16:00:00+00:00 2025-05-07 17:00:00+00:00  available
12          194 2025-05-07 17:00:00+00:00 2025-05-07 18:00:00+00:00  available
13          194 2025-05-07 18:00:00+00:00 2025-05-07 19:00:00+00:00  available
14          194 2025-05-07 19:00:00+00:00 2025-05-07 20:00:00+00:00  available
15          194 2025-05-07 20:00:00+00:00 2025-05-07 21:00:00+00:00  available
16          195 2025-05-08 13:00:00+00:00 2025-05-08 14:00:00+00:00  available
17          195 2025-05-08 14:00:00+00:00 2025-05-08 15:00:00+00:00  available
18          195 2025-05-08 15:00:00+00:00 2025-05-08 16:00:00+00:00  available
19          195 2025-05-08 16:00:00+00:00 2025-05-08 17:00:00+00:00  available

In [39]:
# Save the DataFrame to a CSV file
time_slots_df.to_csv('time_slots.csv', index=False)
# Print the time slots